<!-- accept-form.component.html -->
<div class="p-4">
    <h2 class="text-xl font-bold mb-4">Pour finaliser l'acceptation, veuillez remplir ce formulaire</h2>
    <form (ngSubmit)="submitForm()">
      <div class="mb-4">
        <label class="block text-gray-700">Email</label>
        <input class="border rounded w-full py-2 px-3" type="email" [(ngModel)]="email" name="email" readonly>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Date de démarrage</label>
        <input class="border rounded w-full py-2 px-3" type="date" [(ngModel)]="startDate" name="startDate" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Rémunération</label>
        <input class="border rounded w-full py-2 px-3" placeholder="10 000 000 000 000 fr" [(ngModel)]="salaire" name="salaire" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Type de contrat</label>
        <select class="border rounded w-full py-2 px-3" [(ngModel)]="contractType" name="contractType" required>
          <option value="CDI">CDI</option>
          <option value="CDD">CDD</option>
          <option value="Part-time">Temps partiel</option>
          <option value="Full-time">Temps plein</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Message</label>
        <textarea class="border rounded w-full py-2 px-3" [(ngModel)]="message" name="message"></textarea>
      </div>
      <button class="bg-blue-500 text-white rounded px-4 py-2" type="submit">Valider</button>
      <button class="bg-gray-500 text-white rounded px-4 py-2 ml-2" type="button">Annuler</button>
    </form>
  </div>
  