<header class="text-blackp-4 ">
    <div class="container mx-auto flex justify-between items-center p-1 ">
      <div class="text-lg font-bold">Prof Recrutement</div>
        <div class="flex space-x-8">         
          <div><a href="#" class="hover::text-blue text-black text-base-bold" >Trouver des talents</a></div>
          <div><a href="#" class="hover:text-blue text-black text-base-bold" >Trouver un emploi</a></div>
          <div><a href="#" class="hover:text-blue text-black text-base-bold" >A propos de nous</a></div>
          <div><a href="./authentification.component.html"><button class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-600">Créer un compte</button></a></div>
          <div><button class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-600">Se connecter</button></div>

        </div>
    </div>
  </header>
  