<div class="flex-row w-full ">
    <div class="max-w-lg h-full mx-auto p-6 bg-white rounded shadow-md">
    <h2 class="text-2xl font-bold justify-center mb-4">Les données de votre l'etablissement</h2>
    <form>
        <div class="mb-4">
        <label for="nom" class="block text-sm font-medium text-gray-700">Nom de l’établissement</label>
        <input id="nom" type="text" class="mt-1 p-2 w-full border border-gray-300 rounded" />
        </div>
        <div class="mb-4">
        <label for="adresse" class="block text-sm font-medium text-gray-700">Adresse de l’établissement</label>
        <input id="adresse" type="text" class="mt-1 p-2 w-full border border-gray-300 rounded" />
        </div>
        <div class="mb-4">
        <label for="poste" class="block text-sm font-medium text-gray-700">Poste du recruteur</label>
        <input id="poste" type="text" class="mt-1 p-2 w-full border border-gray-300 rounded" />
        </div>
        <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description courte de l’établissement</label>
        <textarea id="description" rows="3" class="mt-1 p-2 w-full border border-gray-300 rounded"></textarea>
        </div>
        <button type="submit" class="w-full p-3 bg-blue-800 text-white font-semibold rounded hover:bg-blue-700">Finaliser la création du compte</button>
    </form>
    </div>
</div>