*{
    box-sizing: border-ox;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 152, 170);
width: 100vw;
min-height: 100vh;    
}

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-area{
    
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
   

}

.form-check{
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder{
    font-size: 16px;
}
#labc{
    margin-left: 10px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

option{
    padding-left: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}
#connexion{
    display: block;
    transition: ease-in;
    opacity: 1;
    animation-name: 'in';
    animation-duration: 1s;
}
@keyframes in {
    from{opacity: 0.3;}
    to{opacity: 1;}
}
#inscription{
    animation-name: 'in';
    animation-duration: 1s;
    opacity: 1;
    display: none;
}

#home{
    display: none;
}
#auth{
    display: block;
}

