 <footer class="flex flex-row px-10 justify-between "> 
   <div class="w-1/3 font-bold items-center justify-center mt-2 text-1xl" >
        Trouvez les candidats idéaux parmi des milliers de profils qualifiés provenant de divers secteurs.
    </div>
    <div class="flex flex-row bg-blue-800  w-60 h-20  shadow-mb border shadow-black rounded-3xl ">
        <div class="flex items-center w-1/3 h-full p-4 text-white text-1xl ">Contact Aide</div>
        <div class="flex justify-between items-center px-4 h-full w-2/3 " >
        <div class="flex h-1/3 aspect-square bg-white p-2 rounded-2xl "></div>
        <div class="flex h-1/3 aspect-square bg-white p-2 rounded-2xl "></div>
        <div class="flex h-1/3 aspect-square bg-white p-2 rounded-2xl "></div>
        </div>
    </div>
 </footer> 
<!-- <p class="flex items-center justify-center" >&#64;Coryread Enseignant Recrutement 2024</p> -->