/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body html{
    height: 100vh;
    background-color:red;
}
*{
    margin: 0px;
    padding: 0px;
}
.text-blue-500:hover{
    color: rgb(16, 9, 154);
}
html, body { }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
