/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body html{
    height: 100vh;
    background-color:red;
}
.text-blue-500:hover{
    color: rgb(16, 9, 154);
}