<main class="flex flex-col items-center justify-center w-full  p-6">
    <h1 class="text-3xl font-bold text-blue-800 mb-4">Mon profil</h1>
    <ul class="list-disc text-lg text-black text-left space-y-2 mb-6">
      <li><strong>Prénom:</strong>{{profile.prenom}}</li>
      <li><strong>Nom:</strong>{{profile.nom}}</li>
      <li><strong>Email:</strong>{{profile.email}}</li>
      <li><strong>Age:</strong>{{profile.age}} </li>
      <li><strong>Statut:</strong>{{profile.statut}}</li>
      <li><strong>Formation:</strong>{{profile.formation}} </li>
      <li><strong>Diplôme(s):</strong>{{profile.degree}} Licence 3</li>
      <li><strong>Compétence(s):</strong>{{profile.competence}}</li>
      <li><strong>Expérience(s):</strong>{{profile.experienceYears}} </li>
      <li><strong>Université(s) ou École(s):</strong>{{profile.universite}}</li>
    </ul>
    <div class="flex space-x-4">
      <button class="bg-indigo-900 text-white px-6 py-2 rounded-full shadow">Modifier le profil</button>
      <button (click)="goBack()" class="bg-indigo-900 text-white px-6 py-2 rounded-full shadow">Retourner</button>
    </div>
  </main>